**/.env
**/.env.*
!**/.env.example

resto-server/postgres/data/
resto-server/**/node_modules/

resto-app/local.properties
resto-app/**/local.properties
!resto-app/local.properties.example
resto-app/.gradle/
resto-app/.idea/
resto-app/build/
resto-app/captures/
resto-app/.externalNativeBuild/
resto-app/.cxx/

*.jks
*.keystore
*.p12
*.pem
*.key
*.crt

.idea/
.DS_Store
