resto_server/.env
resto_server/.env.*
!resto_server/.env.example

resto_server/postgres/data/
resto_server/**/node_modules/

resto_app/local.properties
resto_app/**/local.properties
!resto_app/local.properties.example
resto_app/.gradle/
resto_app/.idea/
resto_app/build/
resto_app/captures/
resto_app/.externalNativeBuild/
resto_app/.cxx/

*.jks
*.keystore
*.p12
*.pem
*.key
*.crt

.idea/
.DS_Store
