# Plantilla local. Reemplazar todos los valores de ejemplo antes de usar.

BUSINESS_NAME=mi-restobar
BUSINESS_TIMEZONE=America/Argentina/Buenos_Aires
JORNADA_START_TIME=08:00
MESA_CLIENT_DISCONNECT_GRACE_SECONDS=10

HTTP_GW_HOST_PORT=5079
HTTP_GW_DOMAIN_BASE_URL=http://domain:8081
TUNNEL_CLIENT_BASE_URL=http://tunnel-client:8083


WEB_CARTA_PORT=5175
WEB_GESTION_PORT=5174

MQTT_CLIENT_DOMAIN_BASE_URL=http://domain:8081

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5433
POSTGRES_DB=restobar
POSTGRES_USER=restobar
POSTGRES_PASSWORD=reemplazar_password_postgres
POSTGRES_SCHEMA=public

WAITER_USERNAME=reemplazar_usuario_mozo
WAITER_PASSWORD=reemplazar_password_mozo
MANAGER_USERNAME=reemplazar_usuario_encargado
MANAGER_PASSWORD=reemplazar_password_encargado
SESSION_COOKIE_NAME=restobar_web_session

CLOUDFLARE_PUBLIC_CLIENT_URL=https://reemplazar-subdominio.trycloudflare.com
MENU_ASSETS_DIR=/app/assets/menu

MQTT_HOST=reemplazar-cluster.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=reemplazar_usuario_mqtt
MQTT_PASSWORD=reemplazar_password_mqtt
MQTT_BASE_TOPIC=/restobar
MQTT_CLIENT_ID_PREFIX=restobar-server
