# Plantilla local. Reemplazar todos los valores de ejemplo antes de usar.

NODE_ENV=production
BUSINESS_NAME=mi-restobar
BUSINESS_TIMEZONE=America/Argentina/Buenos_Aires
JORNADA_START_TIME=08:00
MESA_CLIENT_DISCONNECT_GRACE_SECONDS=10

HTTP_GW_HOST=0.0.0.0
HTTP_GW_PORT=8080
HTTP_GW_HOST_PORT=8079
HTTP_GW_DOMAIN_BASE_URL=http://domain:8081
TUNEL_SERVICE_BASE_URL=http://tunel-service:8083

DOMAIN_HOST=0.0.0.0
DOMAIN_PORT=8081

TUNEL_SERVICE_HOST=0.0.0.0
TUNEL_SERVICE_PORT=8083
TUNEL_TARGET_URL=http://reverse-proxy:80

WEB_CARTA_PORT=5175
WEB_GESTION_PORT=5174

MQTT_CLIENT_HOST=0.0.0.0
MQTT_CLIENT_PORT=8082
MQTT_CLIENT_DOMAIN_BASE_URL=http://domain:8081
MQTT_CLIENT_TUNEL_SERVICE_BASE_URL=http://tunel-service:8083

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5433
POSTGRES_DB=restobar
POSTGRES_USER=restobar
POSTGRES_PASSWORD=reemplazar_password_postgres
POSTGRES_SCHEMA=public

WAITER_USERNAME=reemplazar_usuario_mozo
WAITER_PASSWORD=reemplazar_password_mozo
MANAGER_USERNAME=reemplazar_usuario_encargado
MANAGER_PASSWORD=reemplazar_password_encargado
SESSION_COOKIE_NAME=restobar_web_session

CLOUDFLARE_PUBLIC_CLIENT_URL=https://reemplazar-subdominio.trycloudflare.com
MENU_ASSETS_DIR=/app/assets/menu

MQTT_HOST=reemplazar-cluster.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=reemplazar_usuario_mqtt
MQTT_PASSWORD=reemplazar_password_mqtt
MQTT_BASE_TOPIC=/restobar
MQTT_CLIENT_ID_PREFIX=restobar-server
